/*********
display flex
align center
justify-content center
***********/
%content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title-2 {
  color: $white-color;
  span {
    color: $secondery-color;
  }
}
