/******* custom font ******/
@font-face {
  font-family: "CustomFont";
  src: url("assets/webfonts/Oakes Grotesk Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CustomFont";
  src: url("assets/webfonts/Oakes Grotesk SemiBold.ttf") format("truetype");
  font-weight: 600;
  /* SemiBold */
  font-style: normal; }

@font-face {
  font-family: "CustomFont";
  src: url("assets/webfonts/Oakes Grotesk Light.ttf") format("truetype");
  font-weight: 300;
  /* Light */
  font-style: normal; }

@font-face {
  font-family: "CustomFont";
  src: url("assets/webfonts/Oakes Grotesk Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "CustomFont";
  src: url("assets/webfonts/Oakes Grotesk Medium.ttf") format("truetype");
  font-weight: 500;
  /* Medium */
  font-style: normal; }

body {
  font-family: "CustomFont", sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  font-size: 16px; }

p {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #063214;
  margin: 0; }

h1 {
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -0.01em; }
  @media (max-width: 576px) {
    h1 {
      font-size: 28px;
      line-height: 33.6px; } }

h6 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 400; }
  @media (max-width: 576px) {
    h6 {
      font-size: 16px;
      line-height: 24px; } }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px; }

li {
  list-style-type: none;
  text-transform: capitalize; }

a {
  text-decoration: none; }

img {
  width: 100%; }

/*********
display flex
align center
justify-content center
***********/
header .header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero-area .wrapper, .learn-area .content-wrapper, .learn-area .content-wrapper .text-content, .artificial-area .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title-2 {
  color: white; }
  .title-2 span {
    color: #92ce4f; }

.template-btn {
  font-size: 16px;
  line-height: 16px;
  padding: 20px 36px;
  border-radius: 2px;
  text-transform: capitalize;
  background-color: #063214;
  color: white;
  border: 2px solid #063214;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .template-btn:hover {
    color: #063214;
    background: transparent; }

header .header-top {
  background: #063214;
  height: 48px; }
  header .header-top .container {
    height: 100%; }
    header .header-top .container p {
      color: white;
      font-size: 16px; }

header .nav-wrapper {
  padding: 33px 0 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header .nav-wrapper nav ul li + li {
    padding-left: 36px; }
  header .nav-wrapper nav ul li a {
    font-size: 14px;
    line-height: 14px;
    color: #063214;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 500;
    font-weight: bold; }
    header .nav-wrapper nav ul li a:hover {
      color: #25a54b; }
  header .nav-wrapper .btn-wrapper {
    margin-right: 80px; }
  @media (max-width: 992px) {
    header .nav-wrapper {
      display: none; } }

header .mobile-content-wrapper {
  display: none; }
  header .mobile-content-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .mobile-content-wrapper ul li:first-child a {
      color: #063214;
      font-size: 20px; }
    header .mobile-content-wrapper ul li:last-child a {
      color: #063214;
      font-size: 20px; }
  @media (max-width: 992px) {
    header .mobile-content-wrapper {
      display: inline; } }

/******Hero section start hare*******/
.hero-area .wrapper .left .title-wrapper {
  max-width: 541px;
  text-align: center; }
  .hero-area .wrapper .left .title-wrapper h1 {
    margin-bottom: 48px !important; }
  @media (max-width: 576px) {
    .hero-area .wrapper .left .title-wrapper {
      max-width: 271px; } }

@media (max-width: 992px) {
  .hero-area .wrapper .left {
    padding-top: 42px; } }

.hero-area .wrapper .right {
  position: relative; }
  .hero-area .wrapper .right .img-1 {
    position: absolute;
    bottom: 0%; }
  @media (max-width: 992px) {
    .hero-area .wrapper .right {
      width: 100%;
      padding-top: 16px; } }

@media (max-width: 992px) {
  .hero-area .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

/******Hero section end hare*******/
/******learn more are start hare*******/
.learn-area {
  padding: 96px 80px; }
  .learn-area .content-wrapper {
    gap: 20px; }
    .learn-area .content-wrapper .text-content {
      gap: 95px; }
      .learn-area .content-wrapper .text-content .h6-1 {
        max-width: 572px; }
        @media (max-width: 992px) {
          .learn-area .content-wrapper .text-content .h6-1 {
            max-width: 100%; } }
      .learn-area .content-wrapper .text-content .h6-2 {
        max-width: 222px; }
        @media (max-width: 992px) {
          .learn-area .content-wrapper .text-content .h6-2 {
            max-width: 100%; } }
      @media (max-width: 992px) {
        .learn-area .content-wrapper .text-content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: 36px; } }
    .learn-area .content-wrapper .btn-wrapper {
      min-width: 165px; }
      @media (max-width: 576px) {
        .learn-area .content-wrapper .btn-wrapper {
          margin-right: auto; } }
    @media (max-width: 992px) {
      .learn-area .content-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 64px; } }
  @media (max-width: 576px) {
    .learn-area {
      padding: 42px 20px; } }

/******learn more are End hare*******/
/******artificial area start hare*******/
.artificial-area {
  padding: 96px 80px;
  background: #063214; }
  .artificial-area .content-wrapper .title-logo {
    width: 50%; }
    .artificial-area .content-wrapper .title-logo img {
      width: 96px;
      margin-bottom: 37px; }
  .artificial-area .content-wrapper .des {
    width: 50%; }
    .artificial-area .content-wrapper .des h6 {
      color: white;
      max-width: 584px; }
  @media (max-width: 576px) {
    .artificial-area {
      padding: 96px 20px; } }

/******artificial area End hare*******/
